@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fafafe;
}

* {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.main-container {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}

.sidebar {
  width: min(calc(100vw - 4rem), 24rem);
}

.top-list_item::before {
  width: var(--percent);
  background-color: var(--item-color);
}

.active-nav-link {
  position: relative;
}

.active-nav-link:before {
  content: "";
  width: 5px;
  height: 200%;
  position: absolute;
  top: -50%;
  border-radius: 0 12px 12px 0;
  left: 0;
  background-color: #F9A109;
}

@media screen and (min-width: 48rem) {
  .main-container {
    padding: 0 5rem;
    margin-left: 6rem;
  }
}

@media screen and (min-width: 64rem) {
  .main-container {
    padding: 0 5rem;
    padding: 0 max(calc(100vw * 0.06), 2.5rem);
    margin-right: 24rem;
  }
}
