@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fafafe;
}

.main-container {
  padding-left: max(calc(100vw * 0.05), 2.5rem);
  padding-right: max(calc(100vw * 0.05), 2.5rem);
}